.root-about {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    .content {
        margin-top: 5%;
        height: 100em;
        display: flex;
        justify-content: flex-start;
        place-items: flex-start;
        flex-direction: column;
        width: 40em;

        padding: 2.5em 3em 3.5em 3em;
        background-color: white;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    
        .title {
            place-self: center;
            @include title();
            text-decoration: none;
            color: black;
        }

        .title:hover {
            color: $blue;
            transition: .2s all;
        }

        .subtitle {
            font-size: .8em;
            place-self: center;
            justify-self: center;
            color: gray;
            text-decoration: none;
        }

        .subtitle:hover {
            text-decoration: underline;
            color: $blue;        
        }

        .nomargin {
            margin: 0;
        }

        .linktable {
            margin-bottom: 1em;

            tr {
                .left {
                    padding-right: 10px;
                }

                td {

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    a {
                        text-decoration: none;
                        color: black
                    }

                    a:hover {
                        text-decoration: underline;
                        color: $blue;
                        transition: .2s all;
                    }
                }
            }
        }

        .icons {
            margin-top: 3em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;

            img {
                flex: 1 0 19%;
                margin-top: 5px;
                width: 75px !important;
                height: 75px !important;
            }
        }
    }

    @include animation-fade-in();
}