$blue: #2131e0;
//$blue: #3884ff;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@100&display=swap');

@import "common.scss";
@import "animation.scss";
@import "index.scss";
@import "login.scss";
@import "workspace.scss";
@import "preparing.scss";

html,body {
    background-color: #3a3a3a; 
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}