.root-workspace {
    padding: 0;
    margin: 0; 
    width: 100%;
    height: 5%;

    @include animation-fade-in();

    border-bottom: 5px solid #3a3a3a;
    color: white;

    .topbar {
        margin: 0;
        padding: 0;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .leftest {
            margin-left: auto;
        }

        .link {
            color: white;
            align-self: center;
            align-items: center;
            text-decoration: none;
        }

        .link:hover {
            color: $blue;       
            text-decoration-color: underline;
            cursor: pointer;         
            transition: .2s all;
        }

        .right {
            padding: 5px;
        }

        .title {
            font-size: 2.5em;
            justify-content: flex-start;
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            letter-spacing: 0.5ch;
            margin: 0;
            margin-right: auto;
            margin-left: 2px;
        }
    }
}

iframe {
    @include animation-fade-in();

    border: 0;
    overflow:hidden;
    margin: 2px;
}